.header img{
    height: 80px;
}
.header{
    text-align: center;
}
.header nav{
    background-color: #000;
    font-size: 20px;
    line-height: 40px;
}
.header nav a{
    margin-right: 30px;
    padding: 6.5px;
    text-decoration: none;
    color: #fff;
}
.header nav a:hover{
    background-color: #c0c0c0;
}